.metadata
.classpath
.project
.settings
.orig
target/
*.wav
*.iml
msx2cas-core/resources/lib/*.jar
msx2cas-core/resources/local/*
!msx2cas-core/resources/local/.gitkeep
.gradle/
build/
.idea
!dotnet-types.jar
